.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme.hero_logo_slider .owl-dots,
.owl-theme .owl-nav {
  display: none;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  display: none;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 25px;
}

.owl-item.active {
  display: flex;
  justify-content: center;
}

.owl-stage {
  display: flex;
  justify-content: center;
  align-items: start;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: none;
  border: none;
}

.owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  margin: 5px 7px;
  background: rgb(0, 0, 0, 0.3) !important;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #000000 !important;
  width: 33px;
}
.owl-theme .owl-dots .owl-dot span {
  cursor: pointer;
}

.slider .owl-loaded {
  max-width: 1200px;
  max-height: 87px;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 767px) {
  .owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px;
  }
}
